main.main-content.docs-main {
  padding: 0.2rem 0.7rem;
  max-width: 900px;
}
pre {
  overflow-x: auto;
}

html.dark-mode pre {
  background-color: #161b22;
}

html.dark-mode code {
  background-color: #161b22;
  color: #c9d1d9;
}
