.container {
  width: 90%;
  max-width: 500px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-section,
.chat-section,
.certification-section,
.docs-section {
  text-align: center;
  margin: 20px 0;
}

.about-section a,
.chat-section a,
.certification-section a,
.docs-section a {
  margin: 0 10px;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  transition:
    filter 0.3s,
    transform 0.3s;
}

.about-section a:hover,
.chat-section a:hover,
.certification-section a:hover,
.docs-section a:hover {
  filter: brightness(1.1);
  transform: translateY(-2px);
}

.code-icon {
  margin-right: 5px;
}
