---
// 你可以在这里定义任何 Astro 前言变量或导入
import { SITE_BASE_URL } from '../config.js';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Technical Documentation</title>
    <meta name="description" content="Renda Zhang technical documentation" />
    <link rel="canonical" href={`${SITE_BASE_URL}/docs/`} />
    <meta name="language" content="en, zh-CN" />
    <meta name="geo.region" content="CN-GD" />
    <meta name="geo.placename" content="Shenzhen, Guangdong, China" />
    <meta name="geo.position" content="22.543096;114.057865" />
    <meta name="ICBM" content="22.543096, 114.057865" />
    <meta property="og:title" content="Technical Documentation" />
    <meta property="og:description" content="Renda Zhang technical documentation" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={`${SITE_BASE_URL}/docs/`} />
    <meta property="og:site_name" content="Renda Zhang" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/github.min.css" />
    <link rel="stylesheet" href="/css/docs.min.css" />
  </head>
  <body>
    <button id="back" onclick="window.location.href='/'">&larr; Back to Home</button>
    <div id="content">Loading...</div>

    <script defer src="/js/jquery.min.js"></script>
    <script defer src="/js/marked.min.js"></script>
    <script defer src="/js/docs.min.js"></script>
  </body>
</html>
