---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_BASE_URL, VIEWPORT_NO_ZOOM, LOGIN_PAGE_PATH, SITE_NAME_EN } from '../config.js';
---

<BaseLayout
  lang="zh-CN"
  title={`Login - ${SITE_NAME_EN}`}
  description="Login Page of Renda Zhang Website"
  viewport={VIEWPORT_NO_ZOOM}
  canonical={`${SITE_BASE_URL}${LOGIN_PAGE_PATH}/`}
>
  <p>登录页面开发中</p>
</BaseLayout>
