---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_BASE_URL, VIEWPORT_NO_ZOOM, REGISTER_PAGE_PATH, SITE_NAME_EN } from '../config.js';
---

<BaseLayout
  lang="zh-CN"
  title={`Register - ${SITE_NAME_EN}`}
  description="Register Page of Renda Zhang Website"
  viewport={VIEWPORT_NO_ZOOM}
  canonical={`${SITE_BASE_URL}${REGISTER_PAGE_PATH}/`}
>
  <Fragment slot="head"></Fragment>
  <p>注册页面开发中</p>
</BaseLayout>
