---
import { CHAT_PAGE_PATH, CERTIFICATIONS_PAGE_PATH } from '../config.js';
const { heading, taglines = [], lang } = Astro.props;
---

<section class="bg-home wow fadeInLeft animated" id="home">
  <div class="row">
    <div class="col-lg-12">
      <div class="home-content text-center">
        <h3 set:html={heading} />
        <div class="tlt">
          <ul class="texts home-desc">
            {taglines.map((line) => <li class="list-inline-item">{line}</li>)}
          </ul>
          <div class="mt-4">
            <a href={CHAT_PAGE_PATH} role="button" class="btn btn-sm btn-custom btn-round mr-2">
              {lang.startsWith('zh') ? '与AI聊天' : 'Chat with AI'}
            </a>
            <a
              href={CERTIFICATIONS_PAGE_PATH}
              role="button"
              class="btn btn-sm btn-custom btn-round"
            >
              {lang.startsWith('zh') ? '证书展示' : 'Certifications'}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
